.friend{
	background-color: rgba(51, 255, 0, 0.374);
}

.not-friend{
	background-color: rgba(184, 62, 40, 0.525);
}
.message {
  margin: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid rgb(255, 221, 221);
}
.card {
  margin: 1rem;
  box-shadow: rgb(128 128 128 / 19%) 0.25rem 0.35rem;
}

.card-sender-wrapper {
  /* display: flex; */
  margin: 2rem 2rem 2rem 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-message-wrapper {
  /* display: flex; */
  margin: 3rem 2rem 2rem 2em;
}

.card-text {
  margin: 0rem 1rem 0rem 1rem;
}

.card-body {
  display: flex;
}

.card-title {
  padding: 0rem 0rem 1rem 0rem;
}

/* .messages-card{
	margin: 1rem;
    box-shadow: rgb(128 128 128 / 19%) 0.25rem 0.35rem;
} */


.form{
	display: flex;
	flex-direction: column;
	margin:1rem;
}

.new-message-button{
	margin:2rem 10rem 0rem 10rem;
}

img[alt]{
  border-radius: 25%;
  height: 13em;
  width: 13em;
  background-image: url(http://www.newdesignfile.com/postpic/2015/07/blue-email-icon_178906.jpg);
  background-position: center;
  background-size: contain;
}

/* .message__head {
    padding: 0px 25px;
  }
  .messages {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    padding: 15px 25px;
    margin: 20px;
    background-color: lightgray;
  }
  .message__buttons {
    grid-column-start: 2;
    width: max-content;
    align-self: center;
  }
  .main__messages {
    grid-column-start: 1;
    grid-column-end: 3;
    word-wrap: break-word;
    margin: 10px;
  }
  .message__body {
    font-weight: bold;
  }
  .main__message__form {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    padding: 15px 25px;
    margin: 20px;
  }
  textarea.form-control {
    width: 40em;
  }
  
  .privateDialog {
      position: fixed;
      bottom: 120px;
      padding: 20px;
      border: solid 2px cornflowerblue;
      border-radius: 6px;
      box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
  }
  
  .radio__wrapper {
      display: flex;
      flex-direction: column;
  }
  
  .radio-group {
      margin: 10px 20px;
  }
  
  .radio-button {
      margin: 5px;
  }
  
  .dialog-button {
      width: 50%;
      align-self: center;
  } */